<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<title "Ducks"></title>
		<link rel="stylesheet" href="/css/duck.css"/>
		<script th:inline="javascript">
		/*<![CDATA[*/
		    var duckId = /*[[${duck.duckId}]]*/null;
			var user = sessionStorage.getItem("user")
			if (user == null) {
				window.location.href = '/welcome'
			} else {
				user = JSON.parse(sessionStorage.getItem("user"))
			}
		/*]]>*/
		</script>
	</head>
	<body>
		<div class="duck-container">
		  <div th:each="duck : ${ducks}" th:inline="text">
		  	<span class="timestamp">[[${duck.user.name}]]: </span>
		  	<span class="duck">[[${duck.text}]]</span>
		  </div>
		</div>
		<div class="duck-box">
			<textarea rows="3" cols="30" id="duckBox"></textarea>
		</div>
		<script type="text/javascript" src="/js/duck.js"></script>
	</body>
</html>